<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
</head>
<body>
    <h1>Book Tracker</h1>

    <h3>Add Books</h3>
    <form action="/add" method="POST">
        <label for="bookTitle">Title</label>
        <input type="text" name="bookTitle">

        <label for="bookAuthor">Author</label>
        <input type="text" name="bookAuthor">

        <button type="submit">Add</button>
    </form>

    <h3>Books</h3>
    <ol>
        <% for(var i = 0; i < books.length; i++){ %>
            <li><%= books[i].title %> | <%= books[i].author %></li>
        <% } %>
    </ol>

    
</body>
</html>